:root {
  --primary-light: #f1f5f9;
  --primary-dark: #111827;
  --secondary-dark: #1f2937;
  --primary-gold: #c59d5f;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  background-color: var(--primary-dark);
}

header,
footer {
  background-color: var(--primary-dark);
  animation: 0.7s fade-in;
}

nav {
  padding: 4rem 0;
  border-bottom: 5px solid var(--primary-gold);
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

li {
  font-size: 1.8rem;
}

li > a:link,
li > a:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-light);
  border-bottom: 3px solid transparent;
  padding-bottom: 6px;
  transition: 0.2s ease-in-out;
}

li > a:hover,
li > a:active,
li > a.active {
  color: var(--primary-gold);
  border-bottom: 3px solid var(--primary-gold);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  background: linear-gradient(rgba(17, 24, 39, 0.8), rgba(17, 24, 39, 0.8)),
    url('./assets/imgs/olympen-content.jpg');
  background-position: center;
  background-size: cover;
  backdrop-filter: var(--primary-dark);
  animation: 0.7s fade-in;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 1s fade-in;
}

.home > p:first-of-type {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: var(--primary-gold);
  font-size: 9.6rem;
}

.home > h1 {
  font-size: 6.4rem;
  font-weight: 700;
  margin-top: -7.2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-light);
}

hr {
  width: 50%;
  border: 2px solid #c59d5f;
  margin: 24px auto;
}

.home > p:last-of-type {
  color: var(--primary-light);
  text-align: center;
}

button {
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1.6rem 2.8rem;
  background: var(--primary-gold);
  border: none;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover,
button:active {
  color: var(--primary-light);
}

.menu {
  max-width: 900px;
  animation: 1s fade-in;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.card {
  display: flex;
  gap: 18px;
  background-color: var(--primary-dark);
  border-right: 5px solid transparent;
  border-radius: 1px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.card:hover {
  border-right: 5px solid var(--primary-gold);
  background-color: var(--secondary-dark);
}

.card--image img {
  display: block;
  width: 180px;
  height: 220px;
  object-fit: cover;
}

.card--content {
  padding: 1rem;
}

.card-title {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 7.8rem;
  color: var(--primary-gold);
}

.card-description {
  color: var(--primary-light);
  font-size: 1.6rem;
}

.about {
  color: var(--primary-light);
  background: var(--primary-dark);
  border-radius: 1px;
  padding: 2rem;
  text-align: center;
  animation: 1s fade-in;
}

.contact-info {
  margin-bottom: 2rem;
}

.contact-info > h1 {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 7.6rem;
  color: var(--primary-gold);
}

.about > .map img {
  max-width: 800px;
  border-radius: 1px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-light);
  font-size: 1.2rem;
  padding: 2rem 0;
  border-top: 5px solid var(--primary-gold);
}

footer a:link,
footer a:visited {
  text-decoration: transparent;
  color: var(--primary-gold);
  transition: 0.2s ease-in-out;
}

footer a:hover,
footer a:active {
  text-decoration: underline;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
